
.navigation{
    width: 100%;
    padding: 44px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: barlow;
    position: relative;

    &__menu {
        display: flex;
        align-items: center;
        column-gap: 32px;
        
        &-list {

            &__link {
                color: #83888F;
                transition: .2s;
                font-weight: 700;
                font-size: 12px;
                line-height: 15px;
                letter-spacing: 0.92px;
            }
            &__link:hover {
                color: #333D4B;
            }
        }
    }

    &__checkbox {
        display: none;
    }
    &__icons-hamburger {
        display: none;
    }
    &__icons-second {
        display: none;
    }
    &__icons{
        display: none;
    }
    
}

.hero {
    width: 100%;
    background-image: url(../images/hero_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 116px 0 116px 85px;
    border-radius: 10px;
    margin-bottom: 136px;

    &__title {
        font-size: 72px;
        line-height: 72px;
        font-weight: 900;
        font-family: fraunces;
        max-width: 493px;
        color: #FEFCF7;
    }
    &__subtitle {
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        color: #FEFCF7;
        margin-top: 32px;
        margin-bottom: 56px;
        max-width: 440px;
        font-family: barlow;
        opacity: 80%;
    }

    .main-button {
        @include main-button()
    }
    .main-button:hover {
        @include hover-button()
    }
    .main-button:active {
        @include active-btn()
    }
}


@media (max-width: 576px) {
    
    .navigation {
        .navigation__menu {
            flex-direction: column;
            position: fixed;
            top: 116px;
            left: 0;
            width: 100%;
            padding-top: 40px;
            row-gap: 32px;
            height: 100vh;
            background-color: #fff;
            // background: #FFFFFF00;
            // background: linear-gradient(0deg, #FFFFFF00, #FFFFFF);
            background: rgb(255,255,255);
            background: linear-gradient(0deg, rgba(255,255,255,0) -80%, rgba(255,255,255,1) 60%);
            transform: scaleY(0);
            transform-origin: top;
            transition: .2s;
            &-list {
    
                &__link {
                    font-size: 24px;
                    font-family: fraunces;
                    font-weight: 900;
                    text-align: center;
                    line-height: 32px;
                    color: #333D4B;
                }
            }
    
            
        }
        &__icons {
            display: block;
            
        }
        &__icons-hamburger {
            display: block;
            position: absolute;
            right: 0;
            top: 43%;
        }
        &__checkbox:checked + .navigation__menu {
            transform: scale(1);
        }
        &__checkbox:checked ~ .navigation__icons {
            display: none;
        }

        &__checkbox:checked ~ .navigation__icons-second {
            display: block;
        }
    }
    
    .hero {
        background-image: url(../images/hero-mobile-img.jpg);
        background-size: cover;
        text-align: center;
        padding-left: 24px;
        padding-right: 24px;
        background-position: -400px ;
        display: flex;
        flex-direction: column;
        align-items: center;

        &__title {
            font-size: 40px;
            line-height: 40px;
            text-align: center;
            max-width: 279px;
        }

        &__subtitle {
            font-size: 15px;
            line-height: 25px;
            text-align: center;
            max-width: 279px;
        }
    }
}



@media /* only for retina displays */
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2),
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
    .hero {
        background-image: url(../images/hero-bg-2x.jpg);
    }
}